body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

h6{
    font-size: 20px;
}
p{
    font-size: 20px;
}
.globel-community{
    padding-top: 25px;
    margin:0px;
    font-size: 50px;
    color:black
    
}


.stay-focus{
    color: dimgray;
    font-family: 'Times New Roman', Times, serif;
    margin:0px;
    font-size: 70px; 
    padding-left:10px;
}
.border{
    border-left: 6px solid rgb(255, 218, 170);
    height: 150px;
}
.light-colour{
    color: lightcoral;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    margin-top: 100px;
}
.half-width{
    width: 50%;
    padding-left:10%;
    margin: 0%;

}
.half-width img{
    width: 70%;
    padding-bottom:20%;
}
.full-width{
    width:75%;
    padding-left:10%;

}
.full-width img{
    width: 120%; 
}
.padding{
    padding-top: 3%;
    padding-right:30%;
}
.limites{
    color:black;
    margin:0px;
    font-size: 50px;
}
.link-button{

    text-decoration: none;
    background-image: linear-gradient(skyblue, cyan);
    color: white;
    font-weight: 700;
    padding:15px 20px ;
}
.develop-img{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size:300px 300px;
    background-position:40px 80px
}
.global-img{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 250px 250px;
    background-position:bottom 60px right 100px;
}
.all-mission{
    padding-top:10%;
}
.Mission-area{

    background-color: rgb(167, 167, 167);
    margin-left: 10%;
    margin-right:2%;
    padding-right:5%;
    border-radius: 10%;

    
   
}
.Mission-area h1{
    font-size: 15px;
    padding: 5px;
    
    
}
.Mission-area img{
    width:40%;
    

}
.vission-area{
    background-color: rgb(253, 240, 205);
    margin-right:2%;
    border-radius:10%;
    padding-right:5%;
    
}
.vission-area img {
    width: 40%;

}
.vission-area h1{
    font-size: 15px;
    padding: 5px;
}
.goals-area{
    background-color: rgb(208, 255, 208);
    padding-right:5%;
    margin-right:5%;
    border-radius: 10%;
}
.goals-area img{
    width:40%;
}
.goals-area h1{
    font-size: 15px;
    padding: 5px;
}
.mission{
    text-align: center;
    color: rgb(255, 149, 149);
}
.indigo{
    color: rgb(197, 115, 255);
}
.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("images/person/2.png") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}
h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}
.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: orange;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}
footer{
    text-align: center;
    margin:0px;
    background-color: rgb(215, 172, 255);
}
footer p{
    color: white;
}
.footer-colour{
    color: rgb(238, 116, 116);
}
footer h1{
    color: rgb(255, 255, 255) ;
    font-family: cursive;
}